body{
  display: flex;
background-color: Grey;
}

.columns{
  display: flex;
  flex-direction: row;
  background-color: Grey;
}

.column {
  display: flex;
  height: 100%

}
.column_img{
 float: left;
 padding: 2%;
}
